/* test */
/* colors */
/* red: #e93837
dark gray: #302f31
off white: #f3efef */
/* font-family: 'Pridi', serif;
font-family: 'Ubuntu Condensed', sans-serif;
font-family: 'Vollkorn', serif; */

body {  
    text-align: center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;    
    background: #f3efef;

  }
  #icon {
    width:4%;
      }
  #header {       
    animation: header 3s ease 2s 1 normal forwards; 
    color: #E93837;
    filter: drop-shadow(0.5px 1px 0.5px #e93837);
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 80px;  
    padding: 3px;
    text-shadow:  #e93837 2px 0 3px;  
    margin-top: -8em; 
  width: 100%;	
 
  }
  @keyframes header {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateY(-65px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateY(-35px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateY(-12px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateY(-6px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateY(-4px);
	}

	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px);
	}
}
.book {    
  position: relative;
    transform-style: preserve-3d;    
    height: 350px;
    width: 125px;
    left: -45%;   
    top: 1; 
    bottom: 5%;   
    cursor: pointer;
    backface-visibility: visible;
    box-shadow: 0 1em 3em 0 #540909;
  }
  
  .front, .back, .page1, .page2, .page3, .page4, .page5, .page6 {
    transform-style: preserve-3d;
    position: absolute;
    width: 250px;
    height: 100%;
    top: 0; left: 0;
    transform-origin: left center;
    transition: transform .5s ease-in-out, box-shadow .35s ease-in-out;
  }
  
  .front, .back {
    background:  #e93837;
  }
  
  .front, .page1, .page3, .page5 {
    border-bottom-right-radius: .5em;
    border-top-right-radius: .5em;
  }
  
  .back, .page2, .page4, .page6 {
    border-bottom-right-radius: .5em;
    border-top-right-radius: .5em;
  }
  
  .page1 { 
    background: #efefef;
  }
  
  .page2 {
    background: #efefef;
  }
  
  .page3 {
    background: #f5f5f5;
  }
  
  .page4 {
    background: #f5f5f5;
  }
  
  .page5 {
    background: #fafafa;
  }
  
  .page6 {
    background: #fdfdfd;
  }
  
  .book:hover .front {
    transform: rotateY(-160deg) scale(1.1);
    box-shadow: 0 1em 3em 0 #540909;
  }
  
  .book:hover .page1 {
    transform: rotateY(-150deg) scale(1.1);
    box-shadow: 0 1em 3em 0 #540909;
  }
  
  .book:hover .page2 {
    transform: rotateY(-30deg) scale(1.1);
    box-shadow: 0 1em 3em 0 #540909;
  }
  
  .book:hover .page3 {
    transform: rotateY(-140deg) scale(1.1);
    box-shadow: 0 1em 3em 0 #540909;
  }
  
  .book:hover .page4 {
    transform: rotateY(-40deg) scale(1.1);
    box-shadow: 0 1em 3em 0 #540909;
  }
  
  .book:hover .page5 {
    transform: rotateY(-130deg) scale(1.1);
    box-shadow: 0 1em 3em 0 #540909;
  }
  
  .book:hover .page6 {
    transform: rotateY(-50deg) scale(1.1);
    box-shadow: 0 1em 3em 0 #540909;
  }
  
  .book:hover .back {
    transform: rotateY(-20deg) scale(1.1);
  }
  /* #dietary-form{
   
  } */
  /* .dietary-form {
    visibility: hidden;
  } */
  #container {
    position: fixed;
    left: 40%;
    bottom: 2%;     

  }
  /* #recipe-container{

} */
#recipe-container img{
  float: right;
} 
#recipe-container p{
  word-break: break-all;
} 
   
   /* #checkbox-text {
  font-size: larger;
  font-family: 'Pridi', serif;
  font-weight: bold;
  text-align: center;
 bottom: 3px;  
   
  }  */
  #recipe-img {
    width: 25%;
  }
